<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %> 
<body>
    <h1>HIIIIII</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of last contact</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < customers.length; i++) {%>
                <tr>
                    <td><a href="/customers/<%=customers[i]._id%>"><%= customers[i].name %></a></td>
                    <td><%= customers[i].lastContact%></td>
                </tr>
            <% } %>
        </tbody>  
    </table>
    <form action = "/customers/creatorFilter"  method='get'>
        <fieldset>
            <input type = "text" placeholder = "Creator name" name = 'creator'>
            <input type = "text" placeholder = "Contact name" name ='name'>
            <input type= "text" placeholder = "DOB" name="DOB">
            <input type="submit" value="Apply filter(s)">
        </fieldset>
    </form>
    <a href="/customers/"><Button>Clear Filters</Button></a>    

    <div id ='messageBox'>
        <% let today = new Date() %>
        <%for (const customer of customers) {%>
            <% if (customer.lastContact && ((today - customer.lastContact)/86400000) > 14) {%> 
            <div id="notification"><%= customer.name %> LAST CONTACTED AT LEAST TWO WEEKS AGO <span>X</span></div>
            <% } %> 
        <% } %>   
    </div>
    <a href="/customers/new"><button>NEW</button></a>
    <a href="/user/logout"><button>LOGOUT</button></a>
</body>
</html>
<script src ="/app.js" defer></script>