<!DOCTYPE html>
<button onclick="document.getElementById('confirmDelete').style.display=='block'">Modal</button>
<div id = 'confirmDelete' class = 'modal' >
    <form>
        <div class ='container'>
            <h1>U sure??</h1>    
            <input type="submit" value="Cancel">
            <input type="submit" value="Delete">
        </div>
    </form>
</div>
<html lang="en">
    <%- include('../partials/header') %> 
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <td><%= customer.name%></td>
            </tr>
            <tr>
                <th>Creator</th>
                <td><%= customer.creator %> </td>
            </tr>
            <tr>
                <th>Organization</th>
                <td><%= customer.org %> </td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><%= customer.phone %> </td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= customer.email%> </td>
            </tr>
        </thead>
    </table>
    <ul>
        <% for (let i = 0; i < customer.correspondence.length; i++ ) { %> 
            <a href = "<%=customer._id%>/<%=customer.correspondence[i]._id%>"><li><%=customer.correspondence[i].date%></li></a>
        <% } %>
    </ul>
    <a href = "/customers/<%=customer._id%>/edit"><button>EDIT</button></a>
    <a href ="/customers/<%=customer._id%>/newCorrespondence"><button>Add new correspondence record</button></a>
    <form id = 'deleteForm' onclick="deleter()" action = "/customers/<%=customer._id%>/?_method=DELETE" method="POST">
        <input type="submit" value="delete">
    </form>
    <a href = "/customers/"><button>Back</button></a>
</html>
<script>
    function deleter() {
        let result = confirm("Are you sure you want to delete?")
        if (result){
            console.log('clicked OK')
        } else {
            
        }
    }
</script>