<!DOCTYPE html>
<div id = 'confirmDelete' class = 'modal' >
    <form action = "/customers/<%=customer._id%>/?_method=DELETE" method="POST">
        <div class ='container'>
            <h1>Are you sure? This record will be permanantley deleted...</h1>    
            <a href="/customers/<%=customer._id%> "><input type="button" value="Cancel"><a>
            <input type="submit" value="Delete">
        </div>
    </form>
</div>
<html lang="en">
    <%- include('../partials/header') %> 
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <td><%= customer.name%></td>
            </tr>
            <tr>
                <th>Creator</th>
                <td><%= customer.creator %> </td>
            </tr>
            <tr>
                <th>Organization</th>
                <td><%= customer.org %> </td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><%= customer.phone %> </td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= customer.email%> </td>
            </tr>
        </thead>
    </table>
    <ul>
        <% for (let i = 0; i < customer.correspondence.length; i++ ) { %> 
            <a href = "<%=customer._id%>/<%=customer.correspondence[i]._id%>"><li><%=customer.correspondence[i].date%></li></a>
        <% } %>
    </ul>
    <a href = "/customers/<%=customer._id%>/edit"><button>EDIT</button></a>
    <a href ="/customers/<%=customer._id%>/newCorrespondence"><button>Add new correspondence record</button></a>
    <button onclick="document.getElementById('confirmDelete').style.display='block'">Delete</button>
    <a href = "/customers/"><button>Back</button></a>
</html>